@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #0a0a0a;
  font-family: "DM Serif Text", Arial, Helvetica, sans-serif;
  background: #a9b2ac;
}
